A.link
{
	font-weight: bold;
	font-size: 10pt;
	color: white;
	font-family: arial;
	text-decoration: none;
}

A.link:hover
{
	font-size: 10pt;
	font-family: arial;
	text-decoration: underline;
	font-weight: bold;
	color: white;
}
